/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.flare
.phpunit.result.cache
homestead.bat
homestead.ps1
homestead.sh
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
